<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
  <section id="section" label="40000" description="40001">
    <category id="category" label="41000" description="41001">
      <group id="pvr.freebox.general" label="41100">
        <setting id="delay" type="integer" label="41110" help="41111">
          <level>0</level>
          <default>10</default>
          <constraints>
            <minimum>5</minimum>
            <step>5</step>
            <maximum>30</maximum>
          </constraints>
          <control type="spinner" format="string" />
        </setting>
        <setting id="restart" type="boolean" label="41120" help="41121">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group> <!-- pvr.freebox.general -->
      <group id="pvr.freebox.television" label="41200">
        <setting id="source" type="integer" label="41210" help="41211">
          <level>0</level>
          <default>1</default> <!-- Auto -->
          <constraints>
            <options>
              <option label="41212">1</option> <!-- Auto -->
              <option label="41213">2</option> <!-- IPTV -->
              <option label="41214">3</option> <!-- DVB -->
            </options>
          </constraints>
          <control type="list" format="string" />
        </setting>
        <setting id="quality" type="integer" label="41220" help="41221">
          <level>0</level>
          <default>1</default> <!-- Auto -->
          <constraints>
            <options>
              <option label="41222">1</option> <!-- Auto -->
              <option label="41223">2</option> <!-- High -->
              <option label="41224">3</option> <!-- Standard -->
              <option label="41225">4</option> <!-- Low -->
              <option label="41226">5</option> <!-- 3D -->
            </options>
          </constraints>
          <control type="list" format="string" />
        </setting>
      </group> <!-- pvr.freebox.television -->
      <group id="pvr.freebox.epg" label="41300">
        <setting id="extended" type="boolean" label="41310" help="41311">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group> <!-- pvr.freebox.epg -->
    </category>
  </section>
</settings>
